.hero-container {
    position: relative;
    overflow: hidden;
    height: 90vh; /* Set the height of the hero section */
  }
  
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: -1; /* Ensure the video is behind the text */
  }
  
  .video-inner {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area */
    filter: blur(2px); /* Apply blur effect */
  }
  
  .text-overlay {
    position: relative;
    z-index: 1; /* Ensure text is above the video */
    text-align: center;
    color: white; /* Text color */
  }
  
  .campus-link {
    font-size: 70px; /* Font size for the main title */
    margin: 20px 0; /* Margin for spacing */
  }
  
  .typed-animation {
    font-size: 40px; /* Font size for the typed text */
    color: white; /* Text color */
  }