.mid{
    height: 90vh;
    width: 99vw;
    background-color: black;
}
.upper{
    overflow: hidden;
    width: 99vw;
    background-color: #B1D8FC;
}
.lower{
    overflow: hidden;
    width: 99vw;
    background-color: #FFFBF4;
}